@font-face {
  font-family: "Rufina";
  src: url(./fonts/Rufina\ Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url(./fonts/Roboto-Slab-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/poppins-regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elephant";
  src: url(./fonts/ELEPHANT\ Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial Rounded";
  src: url(./fonts/Arial\ Rounded\ Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Serif";
  src: url(./fonts/roboto-serif-semibold.woff2) format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url(./fonts/Roboto\ Slab\ Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/poppins-semibold.woff2) format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(./fonts/poppins-medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Roboto Slab", sans-serif;
  --third-family: "Roboto Serif", sans-serif;
  --font3: "Arial Rounded", sans-serif;
  --font4: "Elephant", sans-serif;
  --font6: "Rufina", sans-serif;
  --primary: #c2efd4;
  --secondary: #224f34;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--font-family);
}

body {
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p,
h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reset-button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.text {
  font-weight: 500;
  font-size: 22px;
  color: #224f34;
}

.container {
  max-width: 1409px;
  margin: 0 auto;
  padding-inline: 16px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.header {
  display: grid;
  min-height: 160px;
  background-color: var(--primary);
}

.header__container {
  width: 100%;
}

.container {}

.logo {
  color: var(--secondary);
  z-index: 101;
}

.logo__icon {
  width: 94px;
  height: 48px;
}

.nav {
  position: fixed;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
  padding-top: 140px;

  padding: 30px;
  width: 100%;
  height: 100%;
  transition: top 0.5s,
    bottom 0.5s;
  background-color: var(--primary);

}

.nav_active {
  top: 0;
  bottom: 0;
}

.nav__list {}

.reset-list {
  flex-direction: column;
  gap: 30px;
}

.nav__item {}

.nav__link {
  font-weight: 500;
  font-size: 34px;
  text-transform: uppercase;
  color: var(--secondary);
  text-decoration: none;
  padding-inline: 28px;

  &:hover {
    text-decoration: underline;
  }
}

.nav__right {
  gap: 28px;
}

.nav__link-basket {

  padding: 28px;
  color: var(--secondary);
  transition: color 0.3s;

  &:hover {
    color: aqua;
  }
}

.nav__icon-basket {
  width: 32px;
  height: 32px;
}

.nav__button {

  padding: 10px 40px;
  border: 2px solid var(--secondary);
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--secondary);
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: var(--secondary);
    color: white;
  }
}

.burger {
  z-index: 101;
  align-self: center;
  width: 50px;
  height: 50px;
}

.reset-button {}

.main {}

.hero {
  padding-top: 74px;
  padding-bottom: 166px;
  background-color: var(--primary);
}

.hero__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.hero__content {}

.hero__title {
  margin-bottom: 26px;
  font-family: var(--font6);
  font-weight: 700;
  font-size: clamp(2.5rem,
      calc(1.837rem + 2.949vw),
      5.375rem);
  /* min: 40px, max: 86px */
  color: var(--secondary);
}

.hero__text {
  margin-bottom: 54px;
  font-weight: 500;
  font-size: 24px;
  line-height: 220%;
  color: var(--secondary);
}

.text {}

.hero__button {
  padding: 22px 60px;
  border-radius: 3px;
  background-color: var(--secondary);
  box-shadow: 6px 33px 59px 0 rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

.hero__img-box {
  position: relative;
  width: 100%;
  border-radius: 80px 40px;
  background-color: #6bc785;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 22%;
    height: 20%;
    background: url(./img/dotteds.png) center/contain no-repeat;
  }

  &::before {
    bottom: 10%;
    left: 5%;
  }

  &::after {
    top: 20%;
    right: 3%;
  }
}

.hero__img {}

.selling {
  padding-top: 114px;
  padding-bottom: 92px;
  text-align: center;
}

.selling__container {}

.selling__title {
  margin-bottom: 36px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 64px;
  color: var(--secondary);
}

.selling__text {
  margin-bottom: 80px;
}

.selling__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 42px;
  margin-bottom: 80px;
}

.card {}

.card__item-img-box {
  margin-bottom: 50px;
}

.card__item-img-box_dark {
  background-color: #93b9a2;
}

.card__item-img-box_medium {
  background-color: #a9d4ba;
}

.card__item-img-box_light {
  background-color: #ddece2;
}

.card__item-img {}

.card__item-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 22px;
  color: #373737;
}

.card__item-bottom {
  gap: 40px;
  font-weight: 500;
  font-size: 22px;
  color: #454545;
}

.card__item-price {}

.card__item-line {}

.card__item-rating {
  gap: 10px;
}

.card__item-rating-icon {
  width: 24px;
  height: 24px;
}

.selling__button {
  margin: 0 auto;
  gap: 18px;
  padding: 16px 55px;
  border: 2px solid var(--secondary);
  border-radius: 3px;
  font-weight: 500;
  font-size: 22px;
  color: var(--secondary);
  transition:
    background 0.3s,
    color 0.3s;

  &:hover {
    background-color: var(--secondary);
    color: white;

    svg {
      transform: translateX(50%);
    }
  }
}

.selling__button-icon {
  transition: transform 0.3s;
  width: 24px;
  height: 15px;
}

.products {
  padding-block: 92px;
  text-align: center;
}

.products__container {}

.products__title {
  margin-bottom: 70px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 50px;
  color: var(--secondary);
}

.products__tab-list {
  flex-wrap: wrap;
  max-width: 704px;
  margin: 0 auto;
  margin-bottom: 84px;
}

.products__tab-item {}

.products__tab-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #454545;
  padding-bottom: 10px;

  &:active {
    color: var(--secondary);
    box-shadow: 0 2px 0 var(--secondary);
  }
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
  column-gap: 35px;
  row-gap: 82px;

  .card__item-img-box {
    margin-bottom: 36px;
  }
}

/* offer section */
.offer {
  padding-top: 82px;
  padding-bottom: 109px;
}

.offer__container {
  gap: 104px;
  flex-direction: column;
  background-color: var(--primary);
}

.offer__img-box {
  position: relative;
  justify-content: center;
  flex-basis: 564px;

  &::before {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 40px;

    display: block;
    width: 110px;
    height: 110px;
    background: url(./img/dotteds.png) center/contain no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 60px;
    left: 100px;
    display: block;
    width: 110px;
    height: 110px;
    background: rgba(223, 251, 234, 0.5);
  }
}

.offer__img {
  z-index: 1;
}

.offer__content {
  flex-basis: 710px;
}

.offer__title {
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 46px;
  color: var(--secondary);
}

.offer__text {
  margin-bottom: 40px;
  line-height: 167%;
}

.offer__time-list {
  gap: 35px;
  margin-bottom: 40px;
}

.offer__time-item {
  flex-direction: column;
  width: 80px;
  height: 80px;
  background-color: white;
  color: var(--secondary);
}

.offer__time-item-day {
  font-weight: 600;
  font-size: 32px;
  padding-bottom: 5px;
}

.offer__time-item-day-name {
  font-weight: 500;
  font-size: 16px;
}

.offer__button {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--secondary);
  border-radius: 3px;
  padding: 22px 70px;
}

/* designer */
.designer {
  padding-top: 109px;
  padding-bottom: 125px;
  text-align: center;
}

.designer__container {}

.designer__title {
  margin-bottom: 50px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 50px;
  color: var(--secondary);
}

.designer__text {
  margin-bottom: 72px;
}

.designer__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.designer__item {}

.designer__item-box {
  margin-bottom: 25px;
}

.designer__item-box_first {
  background: #d3e2d7;
}

.designer__item-box_second {
  background: rgb(197, 196, 196);
}

.designer__item-box_third {
  background: rgb(181, 180, 180);
}

.designer__item-img {}

.designer__item-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 30px;
  color: #373737;
}

.designer__item-text {
  line-height: 143%;
  color: #373737;
}

/* feedback */
.feedback {
  padding-top: 125px;
  padding-bottom: 194px;
}

.feedback__container {}

.feedback__title {
  margin-bottom: 110px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 50px;
  color: var(--secondary);
  text-align: center;
}

.feedback__list {
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 125px;
}

.feedback__item {
  display: grid;
  padding-top: 8px;
  padding-inline: 20px;
  padding-bottom: 30px;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  transition: background 0.5s;

  &:hover {
    background: var(--primary);
  }
}

.feadback__item-icon {
  width: 28px;
  height: 70px;
}

.feedback__item-name {
  margin-bottom: 30px;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 22px;
  color: var(--secondary);
}

.feedback__item-text {
  margin: 0;
  color: #6f6f6f;
  line-height: 140%;
}

.feedback__buttons {
  gap: 50px;
}

.feedback__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  transition: background 0.3s;

  &:hover {
    background: var(--primary);
  }
}

.feadback__btn-icon {
  width: 8px;
  height: 15px;
}

.feadback__btn-icon_left {
  transform: rotate(180deg);
}

.footer {
  min-height: 600px;
  padding-block: 80px;
  background-color: var(--secondary);
  color: white;
}

.footer__container {
  flex-grow: 1;
  flex-direction: column;
}

.footer__content {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "logo"
    "shop"
    "company"
    "form";
  gap: 50px;
  margin-bottom: 50px;
}

.footer__logo-box {
  grid-area: logo;
}

.footer__logo {
  margin-bottom: 44px;
  color: white;
}

.footer__logo-box-title {
  margin-bottom: 26px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  text-transform: capitalize;
}

.footer__social-nav {}

.footer__social-list {
  gap: 36px;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
}

.footer__columns {
  flex-grow: 1;
  max-width: 980px;
}

.footer__columns_desktop {
  display: contents;
}

.footer__column {}

.footer__column_form {
  grid-area: form;
  width: 100%;
}

.footer__column_shop {
  grid-area: shop;
}

.footer__column_company {
  grid-area: company;
}

.footer__column-title {
  margin-bottom: 25px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
}

.footer__column-list {
  display: grid;
  gap: 18px;
}

.footer__column-link {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--primary);
}

.footer__form {
  border: 2px solid var(--primary);
  border-radius: 3px;
}

.footer__form-input {
  width: 100%;
  padding: 14px 28px;
  background: transparent;
  font-weight: 400;
  font-size: 20px;
  color: #fff;

  &::placeholder {
    color: white;
  }
}

.footer__form-button {
  padding: 10px 15px;
  background-color: var(--primary);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--secondary);
}

.footer__bottom {
  flex-direction: column;
  gap: 35px;
  margin-top: auto;

  &::before {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
  }
}

.footer__bottom-list {
  gap: 35px;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}

.footer__bottom-link {
  text-decoration: none;
}

@media (min-width: 480px) {
  .feedback__list {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }

  .designer__list {
    grid-template-columns: repeat(auto-fill, minmax(406px, 1fr));
  }

  .footer__form-button {
    padding: 14px 20px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .footer__content {
    justify-content: stretch;
    grid-template-areas:
      "... logo form ..."
      "... shop company ...";
    gap: 30px;

    .footer__bottom {
      flex-direction: row;
    }
  }


  @media (min-width: 992px) {
    .nav {
      position: static;
      flex-direction: row;
      gap: 0;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    }

    .nav__list {
      display: flex;
      flex-direction: row;
      gap: 5px;
      max-width: 908px;
    }

    .burger {
      display: none;
    }

    .nav__link {
      font-size: 22px;
    }

    .nav__link-basket {
      display: block;
    }

    .nav__button {
      display: block;
    }

    .hero__container {
      flex-direction: row;
      text-align: left;
    }

    .hero__img-box {
      width: 570px;
      border-radius: 140px 40px;
    }

    .offer__container {
      flex-direction: row;
    }
  }


}

@media (min-width: 1024px) {
  .footer__columns_desktop {
    display: flex;
  }

  .footer__column_form {
    width: auto;
  }
}